@media only screen and (max-width: 1074px) {
  
  .header{
    ul {
      .dropdown {
        display: none;
        span {
          display: none;
        }
        .dropdown-content {
          display: none;
        }
      }
  
      li {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 1074px) {
}

.dark {
  background: #4d4d4d;
  color: #fff;
}
nav {
  box-shadow: 0px 4px 32px 0px rgba(0, 16, 61, 0.16);
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1135px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      .btns {
        display: flex;
        align-items: center;
        // .bard {
        //   display: flex;
        //   flex-direction: column;
        //   align-items: center;
        //   margin-top: 2px;
        //   display: inline;
        //   .bard_head {
        //     width: 30px;
        //     height: 7px;
        //     color: #000;
        //     margin-bottom: 4px;
        //     border-radius: 10px;
        //     margin-right: 10px;
        //     display: inline;
        //   }
        // }
        .bard_img {
          width: 60px;
          height: 30px;
          display: none;
        }
      }
      img {
        padding-left: 20px;
      }
      ul {
        display: flex;
        max-width: 828px;
        gap: 32px;
        .dropdown {
          display: inline-block;
          list-style: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
        .dropdown:hover {
          transition: 0.5s;
          cursor: pointer;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 260px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
          .drl {
            padding: 14px 10px;
          }
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
        li {
          list-style: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
        li:hover {
          color: rgba(239, 124, 0, 1);
          transition: 0.5s;
          cursor: pointer;
        }
      }
      .btn {
        padding: 10px;
        background: #ffffff;
        border-radius: 10px;
        border: 1px solid rgba(239, 124, 0, 1);
        margin-right: 20px;
      }
      .btn:hover {
        background: #3f3f3f;
        color: #fff;
        border: 1px solid #3f3f3f;
        transition: 0.5s;
      }
    }
  }
}
