*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.dark{
  button{
    color: #fff;
  }
  .info_text{
    h1{
      color: black;
    }
    p{
      color: #000;
    }
  }
}